body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.full_width {
    width: 100%;
}

.state_login,
.state_register,
.state_chat,
.state_profile,
.state_404 {
    width: 100%;
    height: 100%;
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.visible {
        display: flex;
    }
}

.state_chat {
    justify-content: stretch;
    align-items: stretch;
}

@import "src/shared/styles/const.scss";
