<div class="chat {{#if _chat.selected}} selected {{/if}}">
    <div class="avatar">
        {{#if _chat.avatar}}
        <img src="https://ya-praktikum.tech/api/v2/resources{{_chat.avatar}}" />
        {{/if}}
    </div>
    <div class="main">
        <div class="name">{{ _chat.title }}</div>
        <div class="lastmessage">
            {{#if lastMessageYours}}
            <span class="you">Вы:</span>
            {{/if}} {{ _chat.last_message.content }}
        </div>
    </div>
    <div class="indicators">
        <span class="clock">{{ _chat.last_message.time }}</span>
        <span class="counter">{{ _chat.unread_count }}</span>
    </div>
</div>
