<div class="fprofile">
    <div class="profile_back">
        <button class="back_button" id="backButton">
            <img src="assets/back.svg" />
        </button>
    </div>

    <div class="profile_container">
        <div class="profile_main">
            <div class="avatar">
                <div class="avatar_image">
                    <img src="assets/default_avatar.svg" />
                    <button class="change_avatar" id="displayAvatarDialogButton">Поменять<br />аватар</button>
                </div>
                <div class="avatar_name">Иван</div>

                {{#if showAvatarDialog}}
                <div class="avatar_dialog" id="avatarDialog">
                    <div class="dialog_content">
                        <h1 class="dialog_title">{{dialogTitle}}</h1>
                        <form id="avatarForm">
                            {{#if displayInputFileLabel}}
                            <label for="inputFile" class="dialog_button">Выбрать файл <br />на компьютере</label>
                            {{/if}} {{#if inputFileValue}}
                            <label for="inputFile" class="dialog_value">{{ inputFileValue }}</label>
                            {{/if}}
                            <input type="file" id="inputFile" class="dialog_file" name="avatar" />

                            {{#if inputFileValue}}
                            <f-button
                                [id]="avatarSaveButton"
                                [class]="dialog_save_button full_width"
                                (click)="doAvatarChange"
                                [type]="button"
                                >Поменять</f-button
                            >
                            {{/if}}
                        </form>
                        {{#if dialogError}}
                        <span class="dialog_error">{{dialogError}}</span>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>

            {{#ifNotBoth editPasswordMode editPasswordMode}}
            <div class="fields" id="fields">
                <form id="profileForm">
                    {{editMode}}
                    <div class="field">
                        <label class="field_label" for="email">Почта</label>
                        {{#if editMode}}
                        <f-input
                            (blur)="doValidate"
                            [value]="{{user.email}}"
                            [placeholder]="sample@server.ru"
                            [class]="field_input"
                            [type]="text"
                            [name]="email"
                            [placeholder]="E-mail"
                        />
                        {{else}}
                        <div class="field_value">{{user.email}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label class="field_label" for="login">Логин</label>
                        {{#if editMode}}
                        <f-input
                            (blur)="doValidate"
                            [value]="{{user.login}}"
                            [placeholder]="Login"
                            [class]="field_input"
                            [type]="text"
                            [name]="login"
                            [placeholder]="Логин"
                        />
                        {{else}}
                        <div class="field_value">{{user.login}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label class="field_label" for="first_name">Имя</label>
                        {{#if editMode}}
                        <f-input
                            (blur)="doValidate"
                            [value]="{{user.first_name}}"
                            [placeholder]="Имя"
                            [class]="field_input"
                            [type]="text"
                            [name]="first_name"
                            [placeholder]="Имя"
                        />
                        {{else}}
                        <div class="field_value">{{user.first_name}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label class="field_label" for="second_name">Фамилия</label>
                        {{#if editMode}}
                        <f-input
                            (blur)="doValidate"
                            [value]="{{user.second_name}}"
                            [placeholder]="Фамилия"
                            [class]="field_input"
                            [type]="text"
                            [name]="second_name"
                            [placeholder]="Фамилия"
                        />
                        {{else}}
                        <div class="field_value">{{user.second_name}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label class="field_label" for="display_name">Имя в чате</label>
                        {{#if editMode}}
                        <f-input
                            (blur)="doValidate"
                            [value]="{{user.display_name}}"
                            [placeholder]="Имя в чате"
                            [class]="field_input"
                            [type]="txt"
                            [name]="display_name"
                            [placeholder]="Имя в чате"
                        />
                        {{else}}
                        <div class="field_value">{{user.display_name}}</div>
                        {{/if}}
                    </div>

                    <div class="field">
                        <label class="field_label" for="phone">Телефон</label>
                        {{#if editMode}}
                        <f-input
                            (blur)="doValidate"
                            [value]="{{user.phone}}"
                            [placeholder]="+7123456789"
                            [class]="field_input"
                            [type]="text"
                            [name]="phone"
                            [placeholder]="Телефон"
                        />
                        {{else}}
                        <div class="field_value">{{user.phone}}</div>
                        {{/if}}
                    </div>
                </form>
            </div>
            {{/ifNotBoth}}
            
            {{#if editPasswordMode}}
            <div class="fields passwords" id="passwords">
                <form id="passwordForm">
                    <div class="field">
                        <label class="field_label" for="oldPassword">Старый пароль</label>
                        <f-input
                            (blur)="doValidate"
                            [class]="field_input visible"
                            [type]="password"
                            [name]="oldPassword"
                            [placeholder]="Старый пароль"
                        />
                    </div>

                    <div class="field">
                        <label class="field_label" for="newPassword">Новый пароль</label>
                        <f-input
                            (blur)="doValidate"
                            [class]="field_input"
                            [type]="password"
                            [name]="password"
                            [placeholder]="Новый пароль"
                        />
                    </div>

                    <div class="field">
                        <label class="field_label" for="newPassword2">Новый пароль</label>
                        <f-input
                            (blur)="doValidate"
                            [class]="field_input"
                            [type]="password"
                            [name]="password2"
                            [placeholder]="Новый пароль повторно"
                        />
                    </div>
                </form>
            </div>
            {{/if}}

            {{#ifNotBoth editMode editPasswordMode}}
            <div class="buttons" id="buttons">
                <div class="button_container">
                    <f-linkbutton [class]="profile_button" (click)="doEdit">Изменить данные</f-linkbutton>
                </div>

                <div class="button_container">
                    <f-linkbutton [class]="profile_button" (click)="doEditPassword">Изменить пароль</f-linkbutton>
                </div>

                <div class="button_container">
                    <f-linkbutton [class]="profile_button red" (click)="doExit">Выйти</f-linkbutton>
                </div>
            </div>
            {{/ifNotBoth}}

            {{#if editMode}}
                <f-button [class]="save_button" [type]="submit" [form]="profileForm">Сохранить</f-button>
            {{/if}}

            {{#if editPasswordMode}}
                <f-button [class]="save_button" [type]="submit" [form]="passwordForm">Сохранить</f-button>
            {{/if}}


        </div>
    </div>
</div>
