@import "../../styles/const.scss";

.finput {
    font-family: "Inter";

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
    position: relative;

    &.full_width {
        width: 100%;
    }

    .label,
    .error {
        position: absolute;
        display: inline-block;
        font-size: 9px;
        color: $color_label;
    }

    .label {
        top: -6px;
    }

    .error {
        color: $color_error;
        margin-bottom: 0;
        bottom: -14px;
        white-space: nowrap;
    }

    .input {
        font-size: 13px;
        font-weight: 500;
        color: $color_main_text;

        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid $color_blue;
        outline: none;

        &.error {
            color: $color_error;
        }
    }
}
