<div class="register">
    <h1 class="title">Регистрация</h1>
    <form id="regForm">
        <f-input (blur)="doValidate" [class]="full_width" [label]="Почта" [name]="email"></f-input>
        <f-input (blur)="doValidate" [class]="full_width" [label]="Логин" [name]="login"></f-input>
        <f-input (blur)="doValidate" [class]="full_width" [label]="Имя" [name]="first_name"></f-input>
        <f-input (blur)="doValidate" [class]="full_width" [label]="Фамилия" [name]="second_name"></f-input>
        <f-input (blur)="doValidate" [class]="full_width" [label]="Телефон" [name]="phone"></f-input>
        <f-input
            (blur)="doValidate"
            [class]="full_width"
            [label]="Пароль"
            [type]="password"
            [name]="password"
        ></f-input>
        <f-input
            (blur)="doValidate"
            [class]="full_width"
            [label]="Пароль (ещё раз)"
            [type]="password"
            [name]="password2"
        ></f-input>
        <div class="spacer"></div>
        <f-button [class]="full_width" [type]="submit">Регистрация</f-button>
        <f-linkbutton (click)="doLogin" [type]="button">Вход</f-linkbutton>
    </form>
</div>
