body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.state_login,
.state_register,
.state_chat,
.state_profile,
.state_404 {
    width: 100%;
    height: 100%;
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.visible {
        display: flex;
    }
}

.state_chat {
    justify-content: stretch;
    align-items: stretch;
}

@import "shared/styles/const.scss";
@import "components/login/login.scss";
@import "components/chat/chat.scss";
@import "components/profile/profile.scss";
@import "components/404/404.scss";
@import "components/500/500.scss";
@import "shared/components/button/button.scss";
@import "shared/components/input/input.scss";
@import "shared/components/link/link.scss";
@import "shared/components/linkbutton/linkbutton.scss";
